@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h3 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 23px;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}