$primary: #754BCD;
$secondary: #F2B1B1;
$text-white: #fff;
$text-gray: #484848;
$dark-gray: #2E2E2E;
$dark-gray-lighter: #3F3F3F;
$light-light-gray: #E2E2E2;
$error-text-light: #ffd0d0;
$error: #ff6262;

$tablet-big: 1024px;
$tablet: 768px;
$mobile: 480px;
$mobile-medium: 375px;

